body{
    background-color: #6f747c ;
    font-family: 'Raleway', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:auto;
    
}
form input{
    background-color: #0f52ba;
}
.fermel{
   position: fixed;
   top: 200px; 
}
footer{
    position: fixed;
    bottom: 0%;
    background-color: #0f52ba;
}
.sin{
background-color:  #808080; ;
}
textarea{
    background-color: #0f52ba;
}
header{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}