body{
    background-color: #6f747c ;
    font-family: 'Raleway', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:auto;
    
}
form input{
    background-color: #0f52ba;
}
.fermel{
   position: fixed;
   top: 200px; 
}
footer{
    position: fixed;
    bottom: 0%;
    background-color: #0f52ba;
    width: 100%;
}
.sin{
background-color:  #808080; ;
}
textarea{
    background-color: #0f52ba;
}
header{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}
.flexbox{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    border-style: solid;
    border: #0f52ba;
    flex-direction: row;
    color: antiquewhite;
}

a{

    text-decoration: none;
    color: antiquewhite;
}
