footer{
    width: 100%;
    background-color: #0f52ba;
    position:absolute;
    bottom: 0px;
}

.flexbox{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    border-style: solid;
    border: #0f52ba;
}
body{
    background-color: #6f747c ;
    font-family: 'Raleway', sans-serif;
}
.wym{
    font-family: 'Raleway', sans-serif;
    color: black;
    border: 10px solid #3B9AF0;
    width: 100%;
}
.logo{
    width: 150px;
    height: 100px;
    position: fixed;
    top: 20px;
    right: 20px;
}
main{
    width: 95%;
}
header{
    width: 80%;
}
.kubek{
width: 275px;
height: 300px;
}
.torba{
    width: 250px;
    height: 300px;
}
.can{
width: 203px;
height: 300px;
}
.div{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid #000000;
    padding: 5px;
}
.h4{
    font-size: small;
}