footer{
    width: 100%;
    background-color: #0f52ba;
    position:absolute;
    bottom: 0px;
}

.flexbox{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    border: #0f52ba;
   
}
body{
    background-color: #6f747c ;
    font-family: 'Raleway', sans-serif;
}
.wym{
    font-family: 'Raleway', sans-serif;
    color: black;
}
.logo{
    width: 150px;
    height: 100px;
    position: fixed;
    top: 20px;
    right: 20px;
}
main{
    width: 80%;
}
header{
    width: 80%;
}
.kubek{

}
.torba{
    
}
.can{
    
}