body{
    background-color: #6f747c ;
    font-family: 'Raleway', sans-serif;
}
footer{
    width: 100%;
    background-color: #0f52ba;
    position:absolute;
    bottom: 0px;
}
.mapa{
    width: 780px;
    height: 500px;
    position: absolute;
    left: 100px;
    top: 200px;

}
.tekst{
    font-size: 10px;
}
.lorem{
    position: fixed;
    top: 700px;
}
.flexbox{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    border-style: solid;
    border: #0f52ba;
    flex-direction: row;
    color: antiquewhite;
}
a{

    text-decoration: none;
    color: antiquewhite;
}